Unidad III/ClienteIIMedallistasWSHibernate/src/conf/xml-resources/web-service-references/MedallistasWS/wsdl/localhost_8082/MedallistasWSHibernateII/MedallistasWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.services.dsoria.utng/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.services.dsoria.utng/" name="MedallistasWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.services.dsoria.utng/" schemaLocation="http://localhost:8082/MedallistasWSHibernateII/MedallistasWS?xsd=1" />
</xsd:schema>
</types>
<message name="ConsultarMedallistas">
<part name="parameters" element="tns:ConsultarMedallistas" />
</message>
<message name="ConsultarMedallistasResponse">
<part name="parameters" element="tns:ConsultarMedallistasResponse" />
</message>
<message name="IngresarMedallista">
<part name="parameters" element="tns:IngresarMedallista" />
</message>
<message name="IngresarMedallistaResponse">
<part name="parameters" element="tns:IngresarMedallistaResponse" />
</message>
<message name="BuscarMedallista">
<part name="parameters" element="tns:BuscarMedallista" />
</message>
<message name="BuscarMedallistaResponse">
<part name="parameters" element="tns:BuscarMedallistaResponse" />
</message>
<portType name="MedallistasWS">
<operation name="ConsultarMedallistas">
<input wsam:Action="http://webservices.services.dsoria.utng/MedallistasWS/ConsultarMedallistasRequest" message="tns:ConsultarMedallistas" />
<output wsam:Action="http://webservices.services.dsoria.utng/MedallistasWS/ConsultarMedallistasResponse" message="tns:ConsultarMedallistasResponse" />
</operation>
<operation name="IngresarMedallista">
<input wsam:Action="http://webservices.services.dsoria.utng/MedallistasWS/IngresarMedallistaRequest" message="tns:IngresarMedallista" />
<output wsam:Action="http://webservices.services.dsoria.utng/MedallistasWS/IngresarMedallistaResponse" message="tns:IngresarMedallistaResponse" />
</operation>
<operation name="BuscarMedallista">
<input wsam:Action="http://webservices.services.dsoria.utng/MedallistasWS/BuscarMedallistaRequest" message="tns:BuscarMedallista" />
<output wsam:Action="http://webservices.services.dsoria.utng/MedallistasWS/BuscarMedallistaResponse" message="tns:BuscarMedallistaResponse" />
</operation>
</portType>
<binding name="MedallistasWSPortBinding" type="tns:MedallistasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ConsultarMedallistas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IngresarMedallista">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="BuscarMedallista">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MedallistasWS">
<port name="MedallistasWSPort" binding="tns:MedallistasWSPortBinding">
<soap:address location="http://localhost:8082/MedallistasWSHibernateII/MedallistasWS" />
</port>
</service>
</definitions>